<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="icon" type="image/x-icon" href="app.component.scss">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <header class="header">
    <a href="#" class="logo">TechnoMary.</a>

    <nav class="navbar">
        <a routerLink="home" routerLinkActive="active">Home</a>&nbsp;&nbsp;
        <a routerLink="about" routerLinkActive="active">About</a>&nbsp;&nbsp;
        <a routerLink="projects" routerLinkActive="active">Projects</a>&nbsp;&nbsp;
        <a routerLink="services" routerLinkActive="active">Services</a>&nbsp;&nbsp;
        <a routerLink="contact" routerLinkActive="active">Contact Me</a>&nbsp;&nbsp;
    </nav>
  </header>

  <section class="home">
    <div class="home-content">
        <h1> Hi there!  </h1>
        <h3> Wanna know me more?  </h3>

        <p>
          Step into my digital realm and allow me to introduce myself. I am Maryville Carmela Naraga, from Philippines
          an enthusiastic Software Engineering Technician who is currently honing my skills at Centennial College's illustrious Progress Campus.
          As I embark on the exhilarating journey of my third semester, I am utterly captivated by the dynamic and ever-evolving
          nature of technology, which holds the power to reshape our world.
          <br><br>
          I am a passionate and driven individual who is always eager to learn and grow. I am a firm believer in the power of
          teamwork and collaboration, and I am always willing to lend a helping hand. I am a strong advocate for diversity and
          inclusion, and I am always looking for ways to make a positive impact on the world around me. I am a firm believer in
          the power of technology to catalyze transformative change, and I am always looking for ways to leverage my skills to
          make a positive impact on the world around me.
          <br><br>
        </p>

        <div class="btn-box">
          <a href="https://drive.google.com/file/d/1Zvy1ERs2BtpMG7ZcliUHti51iFsx4u55/view?usp=drive_link">View Resume</a>
      </div>

    </div>

</section>

</body>

<router-outlet></router-outlet>
</html>
