<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="icon" type="image/x-icon" href="services.component.scss">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <header class="header">
    <a href="#" class="logo">TechnoMary.</a>

    <nav class="navbar">
        <a routerLink="home" routerLinkActive="active">Home</a>&nbsp;&nbsp;
        <a routerLink="about" routerLinkActive="active">About</a>&nbsp;&nbsp;
        <a routerLink="projects" routerLinkActive="active">Projects</a>&nbsp;&nbsp;
        <a routerLink="services" routerLinkActive="active">Services</a>&nbsp;&nbsp;
        <a routerLink="contact" routerLinkActive="active">Contact Me</a>&nbsp;&nbsp;
    </nav>
  </header>

  <section class="home">
    <div class="home-content">
        <h1>Maryville Naraga</h1>
        <h3>Services Offered </h3>

        <p>
          <br><br>
          My passion for excellence fuels my drive to deliver exceptional results in every project. I am dedicated to pushing the boundaries of innovation,
          paying meticulous attention to every detail, and ensuring unparalleled client satisfaction. My goal is to exceed expectations and create digital experiences
          that leave a lasting impact.
          <br><br>
          I combine creativity, technical expertise, and cutting-edge technologies to craft solutions
          that are both functional and visually captivating. Through close collaboration and a deep understanding of your unique goals and challenges,
          I create tailor-made solutions that seamlessly align with your brand identity and resonate with your target audience. From captivating user interfaces to flawless
          functionality, I leave no stone unturned in refining every aspect of your digital presence.
          <br><br>
        </p>

    </div>

    <section class="services">

      <div class="service1">
        <h2>General Programming</h2>
      </div>

      <div class="service2">
        <h2>Web Development</h2>
      </div>

      <div class="service3">
        <h2>Mobile Apps</h2>
      </div>

      <div class="service4">
        <h2>Cloud Integration and Deployment</h2>
      </div>

      <div class="service5">
        <h2>Website Maintenance and Support</h2>
      </div>

      <div class="service6">
        <h2>Custom Software Development</h2>
      </div>


    </section>

</section>

</body>

<router-outlet></router-outlet>
</html>
